
<div class="form-group">
  <label for="mqtt_enabled">MQTT aktiv</label>
  <input type="checkbox" class="form-control" [(ngModel)]="settings.mqtt_server.enabled"
         id="mqtt_enabled" name="mqtt_enabled"
         #mqtt_enabled="ngModel">
</div>

<div class="form-group">
  <label for="mqtt_server_url">MQTT Server</label>
  <input type="url" class="form-control" [(ngModel)]="settings.mqtt_server.server_url"
         id="mqtt_server_url" name="mqtt_server_url" placeholder="mqtt_server.local"
         #mqtt_server_url="ngModel" >
</div>


